# Segmenting and clustering Neighborhoods in Toronto

#### Aminath Shausan

## Section 1: Prepare Toronto Neighborhood dataframe

#### Step 1: Build a code to scrape the   Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M  , and create a dataframe consisting of  columns with PostalCode, Borough, and Neighborhood.

In [2]:
#import required libraries
import pandas as pd

In [3]:
#read the table in the html webpage
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [4]:
#check the size of dataframe and 1st 5 rows
print(df.shape)
df.head()

(180, 3)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
#drop rows with Borough = Not assigdf = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]ned
df = df[df.Borough != 'Not assigned']
print(df.shape)
df.head()

(103, 3)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
#check if Postal Code column has duplicate values
boolean = df['Postal Code'].duplicated().any() 
boolean

False

In [11]:
#check if Neighborhood column contains "Not assigned" entries. If so return a list of indices where it is.
df[df['Neighborhood']=='Not assigned'].index.tolist()

[]

In [12]:
#print size of the final dataframe
print(df.shape)

(103, 3)

## Section 2: Add latitude and longitude values to Toronto dataframe

In [15]:
#read the csv file http://cocl.us/Geospatial_data
loc_df = pd.read_csv('http://cocl.us/Geospatial_data')

In [16]:
#check the 1st 5 rows and size of the loc_df
print(loc_df.shape)
loc_df.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
#for each  Postal Code in loc_df, check if it is in df Postal Code column, and then add latitude and longitude of that specific postal code to the df.
#cond = df.index.isin(loc_df['Postal Code'], level=0) 
#cond
df['Latitude'] = df['Postal Code'].map(loc_df.set_index('Postal Code')['Latitude'])
df['Longitude'] = df['Postal Code'].map(loc_df.set_index('Postal Code')['Longitude'])
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [37]:
#check if the latitude and longitude retuned, for given list of specific Postal Codes, in the above dataframe is correct
#filtered_data = loc_df[loc_df["Postal Code"]=='M3A']
#filtered_data

print(loc_df.loc[loc_df['Postal Code'].isin(['M3A','M4A', 'M5A','M6A'])])

   Postal Code   Latitude  Longitude
25         M3A  43.753259 -79.329656
34         M4A  43.725882 -79.315572
53         M5A  43.654260 -79.360636
71         M6A  43.718518 -79.464763